<ul>
    <li>name: <%= cat.name %></li>
    <li>color: <%= cat.color %></li>
    <li>birthdate: <%= cat.birth_date %></li>
    <li>sex: <%= cat.sex %></li>
    <li>description: <%= cat.description %></li>
</ul>